{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block class %}active{% endblock %}
{% block head %}
<style>
#card{
    background-color: #DCDCDC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.form-control{
    border-color: black;
}
.form-control:focus {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
{% endblock %}
{% block content %}

<div class="container">
    <div class="card" id="card">
        <form action="{{url_for('diarysubmit')}}" method="POST">
            
                <h3>{{user}}'s Diary 📜</h3>
                <p> 📅 <b>Date:</b> {{dt}}
                    <br>
                    <b> 🕰 Time:</b> {{ti}}
                </p>
                <div class="form-group">
                    <label for="exampleInputPassword1"><h5> 🏷 Title:</h5></label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="title">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1"><h5> 🖋 Diary Entry:</h5></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="16" name="diarytext"></textarea>
              </div>
              <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
  
    
</div>
{% endblock %}
